.container input {
    width: calc(100% - 48px);
    margin: 24px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #e7e8e9;
    color: #3e3f42;
}

.container input::placeholder {
    color: #747475;
}

@media(min-width: 769px) {
    .container {
        width: 100vw;
    }
    .container input {
        width: 50%;
        margin: 48px 25%;
    }
}